[Unit]
Description=Pihole Sync script service
Wants=phwrgrd-sync.timer

[Service]
Type=oneshot
ExecStart=/opt/utils/pihole-sync-slave.sh

[Install]
WantedBy=multi-user.target
