[Unit]
Description=plex - Container
Requires=docker.service
After=docker.service
[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/opt/docker/plex/
ExecStart=./do.sh start
ExecStop=./do.sh stop
TimeoutStartSec=0
[Install]
WantedBy=multi-user.target
