# DOMAIN_NAME y SUBDOMAIN determinan la URL donde n8n queda accesible.
# Dominio de nivel superior.
DOMAIN_NAME=sismonda.local

# Subdominio.
SUBDOMAIN=n8n

# El ejemplo de arriba sirve n8n en: http://n8n.sismonda.local/

# Timezone usado por los nodos Cron y de scheduling.
GENERIC_TIMEZONE=America/Argentina/Buenos_Aires

# Email para la creación del certificado TLS/SSL (si se usa proxy con ACME).
SSL_EMAIL=fernando@sismonda.com.ar
