[Unit]
Description= - Containers prowlarr, radarr, sonarr, transmission - 
Requires=docker.service 
After=network.target
[Service]
ExecStartPre=/bin/sleep 30
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/opt/docker/torrents/
ExecStart=/opt/docker/torrents/do.sh start
ExecStop=/opt/docker/torrents/do.sh stop
TimeoutStartSec=0
[Install]
WantedBy=multi-user.target
